/* CSS 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  background: #f7edd5;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

input {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}

section#formHolder {
  max-width: 768px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 768px;
}

.btn_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_area .btn_wr {
  height: 160px;
  text-align: center;
}

.btn_area .btn_wr button {
  font-size: 1.6rem;
  background: #e64040;
  color: white;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 7px #b10303, 0 7px 7px 1px #4f4f4f, 0 0 #cc0000 inset;
  transition: box-shadow 0.15s, margin 0.15s;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 160px;
  height: 152px;
}

.btn_area .btn_wr button:active {
  margin: 7px 0 0;
  box-shadow: 0 0 #bd0000, 0 0 #2f2f2f, 0 3px 14px #c70707 inset;
}

.btn_area .result {
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
}

.form {
  position: relative;
}

.form .form-peice {
  background: #fff;
  min-height: 480px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: #bbbbbb;
  padding: 40px 0 60px;
  transition: all 1s cubic-bezier(1, -0.375, 0.285, 0.995);
  overflow: hidden;
}

.form .form-peice.switched {
  transform: translateX(-160%);
  width: 100%;
  left: 0;
}

.form form {
  margin: 0;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form form .form-group {
  margin-bottom: 30px;
  position: relative;
}

.form form .form-group.hasError input {
  border-color: #f95959 !important;
}

.form form .form-group.hasError label {
  color: #f95959 !important;
}

.form form label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
  transform: translateY(-50%);
  transition: all 0.4s;
  cursor: text;
  z-index: -1;
  position: absolute;
  top: 50%;
}

.form form label.active {
  transform: translateY(-300%);
  font-size: 11px;
}

.form form label.fontSwitch {
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.form form input:not([type="submit"], [type="checkbox"]) {
  background: none;
  outline: none;
  border: none;
  display: block;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  color: #444;
  font-size: 15px;
  font-family: sans-serif;
  z-index: 1;
}

.form form input:not([type="submit"]).hasError {
  border-color: #f95959;
}

.form form span.error {
  color: #f95959;
  font-family: sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 0;
  display: none;
}

.form form input[type="password"] {
  color: #f95959;
}

.form form .agreement_box {
  border: 1px solid #eee;
  margin-top: 42px;
  margin-bottom: 50px;
}

.form form .agreement_box h2 {
  font-size: 12px;
  padding: 16px 10px;
  border-bottom: 1px solid #eee;
  color: #7d7d7d;
  font-weight: bold;
}

.form form .agreement_box label {
  position: static;
}

.form form .agreement_box textarea {
  display: block;
  padding: 8px 13px;
  width: 100%;
  height: 155px;
  background: #fff;
  border: 0;
  line-height: 1.6em;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  color: #666;
}

.form form .agreement_box .form_element {
  padding: 11px 10px;
  border-top: 1px solid #ccc;
}

.form form .agreement_box .form_element input,
.form form .agreement_box .form_element label {
  cursor: pointer;
  color: #666;
}

.form form .agreement_box .form_element input {
  margin: 0;
  position: relative;
  top: 2px;
}

.form form .btn_center_box {
  margin-top: 30px;
}

.form form .btn_center_box input {
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  background: #f95959;
  color: #fff;
  border-radius: 30px;
  border: none;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.form form .btn_center_box input:hover {
  background: #e64040;
}

.form form .btn_center_box a.switch {
  font-size: 13px;
  font-weight: 400;
  font-family: sans-serif;
  color: #bbbbbb;
  text-decoration: underline;
  transition: all 0.3s;
}

.form form .btn_center_box a.switch:hover {
  color: #f95959;
}

footer {
  text-align: center;
}

footer p {
  color: #777;
}

footer p a,
footer p a:focus {
  color: #b8b09f;
  transition: all 0.3s;
  text-decoration: none !important;
}

footer p a:hover,
footer p a:focus:hover {
  color: #f95959;
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }
  section#formHolder {
    max-width: auto;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form form {
    width: 90%;
  }
}
